* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #0d0b17;
  position: absolute;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  align-items: center;
  position: absolute;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}
